In [ ]:
러터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
                              실수 리터널 : 10.5
                문자열 리터널 : " ",' ',""" """, ''' ''', "10" : index : indexing, slicing
파이썬 자료형 : 리스트 : [], [1,2]           : index : indexing, slicing
                튜플   : (), (1,), (1,2,3)   : index : indexing, slicing
                딕셔너리 : {}, {키1:값1,키2:값2,...,키n:값n}

In [5]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
print(dic['birth']) # 19981118
# 년 , 월, 일로 따로 출력
print(dic['birth'][:4] + "년")
print(dic['birth'][4:6] + "월")
print(dic['birth'][6:] + "일")

19981118
1998년
11월
18일

In [16]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
dic['name'] = "smlee"  # 중복키를 허용하지 않는다.
print(dic)
dic['addr'] = '서울'
print(dic)
# print(dic['post']) # 키가 없는 경우에는 값을 가져오지 못한다.
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600 , "jazz": 100 }
# print(dic1['jazz'])
print(dic1.get('jazz'))
print(dic1.get('jazz', 100)) #  default value
# print(dic1['jazz'] + dic2['jazz'])
print(dic1['classic'] + dic2['classic'])
print(dic1.get('classic') + dic2.get('classic'))
print(dic1.get('classic',0) + dic2.get('classic',0))
# print(dic1.get('jazz') + dic2.get('jazz')) # None + 100
print(dic1.get('jazz',0) + dic2.get('jazz',0))

{'name': 'smlee', 'phone': '0119993323', 'birth': '19981118'}
{'name': 'smlee', 'phone': '0119993323', 'birth': '19981118', 'addr': '서울'}
None
100
1000
1000
1000
100

In [30]:
# 딕셔너리 함수
dic = {'name': 'smlee', 'phone': '0119993323', 'birth': '19981118', 'addr': '서울'}
l = [1,2,3]
del l[1]
print(l)
del l[0:2]
print(l)
del dic['name']
print(dic)
l.clear()
dic.clear() # {}
print(dic)
### 딕셔너리에 있는 키만 가져오기
dic = {'name': 'smlee', 'phone': '0119993323', 'birth': '19981118', 'addr': '서울'}
print(dic.keys())
l = list(dic.keys())
print(l)
# 딕셔너리에 있는  값만 가져오기
print(dic.values())
l = list(dic.values())
print(l)
# 키와 값을 쌍으로
print(dic.items())
l = list(dic.items())
print(l)

[1, 3]
[]
{'phone': '0119993323', 'birth': '19981118', 'addr': '서울'}
{}
dict_keys(['name', 'phone', 'birth', 'addr'])
['name', 'phone', 'birth', 'addr']
dict_values(['smlee', '0119993323', '19981118', '서울'])
['smlee', '0119993323', '19981118', '서울']
dict_items([('name', 'smlee'), ('phone', '0119993323'), ('birth', '19981118'), ('addr', '서울')])
[('name', 'smlee'), ('phone', '0119993323'), ('birth', '19981118'), ('addr', '서울')]

In [ ]:
리터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
                              실수 리터널 : 10.5
                문자열 리터널 : " ",' ',""" """, ''' ''', "10" : index : indexing, slicing
파이썬 자료형 : 리스트 : [], [1,2]           : index : indexing, slicing
                튜플   : (), (1,), (1,2,3)   : index : indexing, slicing
                딕셔너리 : {}, {키1:값1,키2:값2,...,키n:값n} : 중복키를 허용하지 않는다
                집합(set) : 교집합 , 합집합, 차집합 : {1,2,3,4} : 중복 값을 허용하지 않는다.
                                                 {1,2,2,3,3,4,4} => {1,2,3,4}

In [39]:
dic = {"name":"이숭무"}
s = {1,2,3,"이숭무"}
print(s)
s = {1,2,2,3,3,4,4}
print(s)
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# 교집합 : &
print(s1 & s2)
print(s1.intersection(s2))
# 합집합 : | (pipe)
print(s1 | s2)
print(s1.union(s2))
# 차집합 : -
print(s1 - s2)
print(s1.difference(s2))
print(s2.difference(s1))
print(s2 - s1)

{1, 2, 3, '이숭무'}
{1, 2, 3, 4}
{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [52]:
#  집합자료형 함수
#요소 추가
s1 = {1,2,3}
s1.add(7)
print(s1)
s1.add('hello')
print(s1)
# s1에 10,11,12를 추가
#s1.add(10,11,12) # TypeError: set.add() takes exactly one argument (3 given)
s1.add((10,11,12))
print(s1)
s1.update({10,11,12})
print(s1)
s1.update((10,11,12))
s1.update([10,11,12])
print(s1)
# 삭제
s1.remove((10, 11, 12))
print(s1)
s1.remove(1)
print(s1)
s1.clear() # set()
print(s1)

{1, 2, 3, 7}
{1, 2, 3, 'hello', 7}
{1, 2, 3, 'hello', 7, (10, 11, 12)}
{1, 2, 3, 'hello', 7, 10, 11, 12, (10, 11, 12)}
{1, 2, 3, 'hello', 7, 10, 11, 12, (10, 11, 12)}
{1, 2, 3, 'hello', 7, 10, 11, 12}
{2, 3, 'hello', 7, 10, 11, 12}
set()

In [ ]:
리터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
                              실수 리터널 : 10.5
                문자열 리터널 : " ",' ',""" """, ''' ''', "10" : index : indexing, slicing
                부울(boolean) : 참/거짓 : True / False
파이썬 자료형 : 리스트 : [], [1,2]           : index : indexing, slicing
                튜플   : (), (1,), (1,2,3)   : index : indexing, slicing
                딕셔너리 : {}, {키1:값1,키2:값2,...,키n:값n} : 중복키를 허용하지 않는다
                집합(set) : 교집합 , 합집합, 차집합 : {1,2,3,4} : 중복 값을 허용하지 않는다.
                                                 {1,2,2,3,3,4,4} => {1,2,3,4}

In [64]:
b = True
print(b)
 # b = true # true는 변수로 인식
b = "true" # 문자열
b = False
print(b)
# 관계(비교) 연산자 : >, < ,>=, <=, == , != (! : not)
i1 = 10
i2 = 20
b = i1 > i2
print(b)
# 논리연산자 :  and , or : 관계연산자와 같이 사용
print( True and True )
print( True or False )
# 합격 / 불합격
mat = 40
eng = 60
kor = 80
### 각 과목이 40점이상이고 평균이 60이상이면 합격(True) 아니면 불합격(False)
result = mat >= 40 and eng >= 40 and kor >= 40 and (kor + mat + eng) / 3 >= 60
print(result)

True
False
False
True
True
True

In [73]:
# 변환함수 :  int(), float(), str(), list(), tuple(), set() , bool()
s = "10"
i = int(s)
print(i)
l = [1,2,3,4]
s = set(l)
print(s)
str1 = "hello"
l = list(str1)
print(l) # ['h', 'e', 'l', 'l', 'o']
str1 = str(l) # "['h', 'e', 'l', 'l', 'o']"
print(str1 + "이숭무")
str1 = "".join(l)
print(str1)
str1 = ".".join(l)
print(str1)
str1 = " ".join(l)
print(str1)
result = ":".join(str1) # h e l l o
print(result)
l = ['Life', 'is', 'too', 'short']
result = " ".join(l)
print(result)

10
{1, 2, 3, 4}
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']이숭무
hello
h.e.l.l.o
h e l l o
h: :e: :l: :l: :o
Life is too short

In [86]:
print(bool("hello"))
print(bool(" "))
print(bool("")) # blank
print(bool(1))
print(bool(-1))
print(bool(0))
print(bool([1,2,3]))
print(bool([]))
print(bool((1,2,3)))
print(bool(()))
print(bool({1,2,3}))
print(bool(set()))
print(bool({}))
print(bool({"1":1}))

True
True
False
True
True
False
True
False
True
False
True
False
False
True

In [92]:
# 자료형
l = [1,2,3]
print(type(l))
print(type((1,2,3,4)))
print(type("hello"))
print(type({}))
print(type({1,2,3}))
print(type(True))

<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [105]:
# 변수 선언법
t = (1,2,3,4)
print(t)
t = 1,2,3,4
print(t)
a, b, c = 10, 20, 30
print(a,b,c)
a, b, c = (10, 20, 30)
print(a,b,c)
(a, b, c) = 10, 20, 30
print(a,b,c)
(a, b, c) = (10, 20, 30)
print(a,b,c)
a, b, c = [10, 20, 30]
print(a,b,c)
#a, b, c = 10, 20, 30, 40
a = b = c = 10
print(a,b,c)

(1, 2, 3, 4)
(1, 2, 3, 4)
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 10 10

In [108]:
a = 10; b = 20
# a와 b값을 교환
temp = b
b = a
a = temp
print(a, b)

a, b = b, a
print(a, b)

20 10
10 20

In [114]:
money = True
if money:
  print("차를 타고 가시오")
else:
  print("걸어 가시오")

money = True
if money:
  print("차를 타고 가시오")
print("오류")
else:
  print("걸어 가시오")

SyntaxError: invalid syntax (ipython-input-857103759.py, line 11)

In [115]:
money = True
if money:
  print("차를 타고 가시오")
else:
  print("걸어 가시오")
print("종료")

차를 타고 가시오
종료

In [118]:
# 영어, 수학 , 국어의 점수 40점 이상이고 평균이 60 이상이면 합격(True)
eng = 30
kor = 60
mat = 80
# 조건문 :  condition
# if ~ else문
if  eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor +  mat) / 3 >= 60 :
  print("합격")
else:
  print("불합격")

불합격

In [119]:
# 단일 if문
if  eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor +  mat) / 3 >= 60 :
  print("합격")

result = eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor +  mat) / 3 >= 60
if result:
  print("합격")

In [3]:
# condition은 논리연산과 관계연산으로 이루어진다.
# 문제
# 4년마다 윤년이지만 100년 마다 평년. 그런데 400년마다 윤년
# year % 4 == 0, year % 100 != 0   , year % 400 == 0
year = 2200
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print("윤년")
else :
  print("평년")

평년

In [12]:
# in 연산자
l = [1,2,3,4,5]
result = 3 in l
print(result)
result = 3 in [1,2,3,4,5]
print(result)
result = 7 in l
print(result)
if 3 in l:
  print("3 이 있습니다")
else:
  print("3 이 없습니다.")

dic = {"name1":"이숭무", "name2":"김찬중"}
if "name1" in dic:
  print("name1 키가 있습니다")
else:
  print("name1 키가 없습니다.")

pocket = ['paper', 'cellphone', 'money']
if "money" in pocket:
  print("차를 타고 가시오")
else:
  print("걸어가시오")

True
True
False
3 이 있습니다
name1 키가 있습니다
차를 타고 가시오

In [13]:
l = [1,2,3,4]
result = 7 not in l
print(result)
if 9 not in l:
  print("9 가 없습니다")
else:
  print("9가 있습니다.")

True

In [14]:
str1 = "hello"
result = "h" in str1
print(result)
if "h" in str1:
  print("문자열에는 h 가 있습니다.")
else:
  print("문자열에 h가 없습니다.")

str1 = "hello"
result = "y" not in str1

True

In [16]:
# if ~ elif ~ else 문
# 학점 90이상이면 "A" , 80점이상이면 "B", 70점이상이면 "C" , 60점이상이면 "D" 아니면 F
score = 78
if score >= 90:
  print("A")
else:
  if score >= 80:
    print("B")
  else:
    if score >= 70:
      print("C")
    else:
      if score >= 60:
        print("D")
      else:
        print("F")
print("==" * 30)
if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

print("==" * 30)
if score >= 90:
  message = "A"
elif score >= 80:
  message = "B"
elif score >= 70:
  message = "C"
elif score >= 60:
  message = "D"
else:
  message = "F"

print(message)

C
============================================================
C
============================================================
C

In [18]:
if score >= 60:
  message = "합격"
else:
  message = "불합격"
print(message)

message = "합격" if score >= 60 else "불합격"
print(message)

합격
합격

In [21]:
score = 78
if score >= 90:
  message = "A"
else:
  if score >= 80:
    message = "B"
  else:
    if score >= 70:
      message = "C"
    else:
      if score >= 60:
        message = "D"
      else:
        message = "F"
print(message)
message = "A" if score >= 90 else(
          "B" if score >= 80 else(
          "C" if score >= 70 else(
          "D" if score >= 60 else "F"
)))
print(message)

C
C

In [22]:
# if문을 이용한 사직연산
a = 10; b = 20; opt = "sub"
if opt == "add":
  result = a + b
elif opt == "sub":
  result = a - b
elif opt == "mul":
  result = a * b
else:
  result = a / b
print(result)
# 파이썬 조건문
result = a + b if opt == "add" else(
         a - b if opt == "sub" else(
         a * b if opt == "mul" else(
         a / b
)))
print(result)

-10

In [ ]:
# 95점 이상이면 A+ 90점이상이면 A,...
if score >= 90:
  if score >= 95:
    message = "A+"
  else:
    message = "A"
elif score >= 80:
  if score >= 85:
    message = "B+"
  else:
    message = "B"
elif score >= 70:
  if score >= 75:
    message = "C+"
  else:
    message = "C"
elif score >= 60:
  if score >= 65:
    message = "D+"
  else:
    message = "D"
else:
  message = "F"

message = "A+" if score >= 95 else(
    	    "A"  if score >= 90 else(
          "B+" if score >= 85 else(
          "B"  if score >= 80 else(
          "C+" if score >= 75 else(
          "C"  if score >= 70 else(
          "D+" if score >= 65 else(
          "D"  if score >= 60 else(
          "F"))))))))
print(message)