In [ ]:
러터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
                              실수 리터널 : 10.5
                문자열 리터널 : " ",' ',""" """, ''' ''', "10" : index : indexing, slicing
파이썬 자료형 : 리스트 : [], [1,2]           : index : indexing, slicing
                튜플   : (), (1,), (1,2,3)   : index : indexing, slicing
                딕셔너리 : {}, {키1:값1,키2:값2,...,키n:값n}

In [ ]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
print(dic['birth']) # 19981118
# 년 , 월, 일로 따로 출력
print(dic['birth'][:4] + "년")
print(dic['birth'][4:6] + "월")
print(dic['birth'][6:] + "일")

In [ ]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
dic['name'] = "smlee"  # 중복키를 허용하지 않는다.
print(dic)
dic['addr'] = '서울'
print(dic)
# print(dic['post']) # 키가 없는 경우에는 값을 가져오지 못한다.
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600 , "jazz": 100 }
# print(dic1['jazz'])
print(dic1.get('jazz'))
print(dic1.get('jazz', 100)) #  default value
# print(dic1['jazz'] + dic2['jazz'])
print(dic1['classic'] + dic2['classic'])
print(dic1.get('classic') + dic2.get('classic'))
print(dic1.get('classic',0) + dic2.get('classic',0))
# print(dic1.get('jazz') + dic2.get('jazz')) # None + 100
print(dic1.get('jazz',0) + dic2.get('jazz',0))

In [ ]:
# 딕셔너리 함수
dic = {'name': 'smlee', 'phone': '0119993323', 'birth': '19981118', 'addr': '서울'}
l = [1,2,3]
del l[1]
print(l)
del l[0:2]
print(l)
del dic['name']
print(dic)
l.clear()
dic.clear() # {}
print(dic)
### 딕셔너리에 있는 키만 가져오기
dic = {'name': 'smlee', 'phone': '0119993323', 'birth': '19981118', 'addr': '서울'}
print(dic.keys())
l = list(dic.keys())
print(l)
# 딕셔너리에 있는  값만 가져오기
print(dic.values())
l = list(dic.values())
print(l)
# 키와 값을 쌍으로
print(dic.items())
l = list(dic.items())
print(l)

In [ ]:
리터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
                              실수 리터널 : 10.5
                문자열 리터널 : " ",' ',""" """, ''' ''', "10" : index : indexing, slicing
파이썬 자료형 : 리스트 : [], [1,2]           : index : indexing, slicing
                튜플   : (), (1,), (1,2,3)   : index : indexing, slicing
                딕셔너리 : {}, {키1:값1,키2:값2,...,키n:값n} : 중복키를 허용하지 않는다
                집합(set) : 교집합 , 합집합, 차집합 : {1,2,3,4} : 중복 값을 허용하지 않는다.
                                                 {1,2,2,3,3,4,4} => {1,2,3,4}

In [ ]:
dic = {"name":"이숭무"}
s = {1,2,3,"이숭무"}
print(s)
s = {1,2,2,3,3,4,4}
print(s)
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# 교집합 : &
print(s1 & s2)
print(s1.intersection(s2))
# 합집합 : | (pipe)
print(s1 | s2)
print(s1.union(s2))
# 차집합 : -
print(s1 - s2)
print(s1.difference(s2))
print(s2.difference(s1))
print(s2 - s1)

In [ ]:
#  집합자료형 함수
#요소 추가
s1 = {1,2,3}
s1.add(7)
print(s1)
s1.add('hello')
print(s1)
# s1에 10,11,12를 추가
#s1.add(10,11,12) # TypeError: set.add() takes exactly one argument (3 given)
s1.add((10,11,12))
print(s1)
s1.update({10,11,12})
print(s1)
s1.update((10,11,12))
s1.update([10,11,12])
print(s1)
# 삭제
s1.remove((10, 11, 12))
print(s1)
s1.remove(1)
print(s1)
s1.clear() # set()
print(s1)

In [ ]:
리터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
                              실수 리터널 : 10.5
                문자열 리터널 : " ",' ',""" """, ''' ''', "10" : index : indexing, slicing
                부울(boolean) : 참/거짓 : True / False
파이썬 자료형 : 리스트 : [], [1,2]           : index : indexing, slicing
                튜플   : (), (1,), (1,2,3)   : index : indexing, slicing
                딕셔너리 : {}, {키1:값1,키2:값2,...,키n:값n} : 중복키를 허용하지 않는다
                집합(set) : 교집합 , 합집합, 차집합 : {1,2,3,4} : 중복 값을 허용하지 않는다.
                                                 {1,2,2,3,3,4,4} => {1,2,3,4}

In [ ]:
b = True
print(b)
 # b = true # true는 변수로 인식
b = "true" # 문자열
b = False
print(b)
# 관계(비교) 연산자 : >, < ,>=, <=, == , != (! : not)
i1 = 10
i2 = 20
b = i1 > i2
print(b)
# 논리연산자 :  and , or : 관계연산자와 같이 사용
print( True and True )
print( True or False )
# 합격 / 불합격
mat = 40
eng = 60
kor = 80
### 각 과목이 40점이상이고 평균이 60이상이면 합격(True) 아니면 불합격(False)
result = mat >= 40 and eng >= 40 and kor >= 40 and (kor + mat + eng) / 3 >= 60
print(result)

In [ ]:
# 변환함수 :  int(), float(), str(), list(), tuple(), set() , bool()
s = "10"
i = int(s)
print(i)
l = [1,2,3,4]
s = set(l)
print(s)
str1 = "hello"
l = list(str1)
print(l) # ['h', 'e', 'l', 'l', 'o']
str1 = str(l) # "['h', 'e', 'l', 'l', 'o']"
print(str1 + "이숭무")
str1 = "".join(l)
print(str1)
str1 = ".".join(l)
print(str1)
str1 = " ".join(l)
print(str1)
result = ":".join(str1) # h e l l o
print(result)
l = ['Life', 'is', 'too', 'short']
result = " ".join(l)
print(result)

In [ ]:
print(bool("hello"))
print(bool(" "))
print(bool("")) # blank
print(bool(1))
print(bool(-1))
print(bool(0))
print(bool([1,2,3]))
print(bool([]))
print(bool((1,2,3)))
print(bool(()))
print(bool({1,2,3}))
print(bool(set()))
print(bool({}))
print(bool({"1":1}))

In [ ]:
# 자료형
l = [1,2,3]
print(type(l))
print(type((1,2,3,4)))
print(type("hello"))
print(type({}))
print(type({1,2,3}))
print(type(True))

In [ ]:
# 변수 선언법
t = (1,2,3,4)
print(t)
t = 1,2,3,4
print(t)
a, b, c = 10, 20, 30
print(a,b,c)
a, b, c = (10, 20, 30)
print(a,b,c)
(a, b, c) = 10, 20, 30
print(a,b,c)
(a, b, c) = (10, 20, 30)
print(a,b,c)
a, b, c = [10, 20, 30]
print(a,b,c)
#a, b, c = 10, 20, 30, 40
a = b = c = 10
print(a,b,c)

In [ ]:
a = 10; b = 20
# a와 b값을 교환
temp = b
b = a
a = temp
print(a, b)

a, b = b, a
print(a, b)

In [ ]:
money = True
if money:
  print("차를 타고 가시오")
else:
  print("걸어 가시오")

money = True
if money:
  print("차를 타고 가시오")
print("오류")
else:
  print("걸어 가시오")

In [ ]:
money = True
if money:
  print("차를 타고 가시오")
else:
  print("걸어 가시오")
print("종료")

In [ ]:
# 영어, 수학 , 국어의 점수 40점 이상이고 평균이 60 이상이면 합격(True)
eng = 30
kor = 60
mat = 80
# 조건문 :  condition
# if ~ else문
if  eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor +  mat) / 3 >= 60 :
  print("합격")
else:
  print("불합격")

In [ ]:
# 단일 if문
if  eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor +  mat) / 3 >= 60 :
  print("합격")

result = eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor +  mat) / 3 >= 60
if result:
  print("합격")

In [ ]:
# condition은 논리연산과 관계연산으로 이루어진다.
# 문제
# 4년마다 윤년이지만 100년 마다 평년. 그런데 400년마다 윤년
# year % 4 == 0, year % 100 != 0   , year % 400 == 0
year = 2200
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print("윤년")
else :
  print("평년")

In [ ]:
# in 연산자
l = [1,2,3,4,5]
result = 3 in l
print(result)
result = 3 in [1,2,3,4,5]
print(result)
result = 7 in l
print(result)
if 3 in l:
  print("3 이 있습니다")
else:
  print("3 이 없습니다.")

dic = {"name1":"이숭무", "name2":"김찬중"}
if "name1" in dic:
  print("name1 키가 있습니다")
else:
  print("name1 키가 없습니다.")

pocket = ['paper', 'cellphone', 'money']
if "money" in pocket:
  print("차를 타고 가시오")
else:
  print("걸어가시오")

In [ ]:
l = [1,2,3,4]
result = 7 not in l
print(result)
if 9 not in l:
  print("9 가 없습니다")
else:
  print("9가 있습니다.")

In [ ]:
str1 = "hello"
result = "h" in str1
print(result)
if "h" in str1:
  print("문자열에는 h 가 있습니다.")
else:
  print("문자열에 h가 없습니다.")

str1 = "hello"
result = "y" not in str1

In [ ]:
# if ~ elif ~ else 문
# 학점 90이상이면 "A" , 80점이상이면 "B", 70점이상이면 "C" , 60점이상이면 "D" 아니면 F
score = 78
if score >= 90:
  print("A")
else:
  if score >= 80:
    print("B")
  else:
    if score >= 70:
      print("C")
    else:
      if score >= 60:
        print("D")
      else:
        print("F")
print("==" * 30)
if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

print("==" * 30)
if score >= 90:
  message = "A"
elif score >= 80:
  message = "B"
elif score >= 70:
  message = "C"
elif score >= 60:
  message = "D"
else:
  message = "F"

print(message)

In [ ]:
if score >= 60:
  message = "합격"
else:
  message = "불합격"
print(message)

message = "합격" if score >= 60 else "불합격"
print(message)

In [ ]:
score = 78
if score >= 90:
  message = "A"
else:
  if score >= 80:
    message = "B"
  else:
    if score >= 70:
      message = "C"
    else:
      if score >= 60:
        message = "D"
      else:
        message = "F"
print(message)
message = "A" if score >= 90 else(
          "B" if score >= 80 else(
          "C" if score >= 70 else(
          "D" if score >= 60 else "F"
)))
print(message)

In [ ]:
# if문을 이용한 사직연산
a = 10; b = 20; opt = "sub"
if opt == "add":
  result = a + b
elif opt == "sub":
  result = a - b
elif opt == "mul":
  result = a * b
else:
  result = a / b
print(result)
# 파이썬 조건문
result = a + b if opt == "add" else(
         a - b if opt == "sub" else(
         a * b if opt == "mul" else(
         a / b
)))
print(result)

In [ ]:
# 95점 이상이면 A+ 90점이상이면 A,...
if score >= 90:
  if score >= 95:
    message = "A+"
  else:
    message = "A"
elif score >= 80:
  if score >= 85:
    message = "B+"
  else:
    message = "B"
elif score >= 70:
  if score >= 75:
    message = "C+"
  else:
    message = "C"
elif score >= 60:
  if score >= 65:
    message = "D+"
  else:
    message = "D"
else:
  message = "F"

message = "A+" if score >= 95 else(
    	    "A"  if score >= 90 else(
          "B+" if score >= 85 else(
          "B"  if score >= 80 else(
          "C+" if score >= 75 else(
          "C"  if score >= 70 else(
          "D+" if score >= 65 else(
          "D"  if score >= 60 else(
          "F"))))))))
print(message)

In [ ]:
print("나무를 1번찍었습니다")
print("나무를 2번찍었습니다")
print("나무를 3번찍었습니다")
print("나무를 4번찍었습니다")
print("나무를 5번찍었습니다")
print("나무를 6번찍었습니다")
print("나무를 7번찍었습니다")
print("나무를 8번찍었습니다")
print("나무를 9번찍었습니다")
print("나무를 10번찍었습니다")
print("나무가 넘어갑니다")
num = 10
print(f"나무를 {num}번 찍었습니다.")

In [ ]:
num = 1
while num <= 10:
  #print(f"나무를 {num}번 찍었습니다.")
  #print("나무를 %d번 찍었습니다." % num)
  print("나무를 {0}번 찍었습니다.".format(num))
  num = num + 1

print("나무가 넘어갑니다")

In [ ]:
# 구구단
# 8단
'''
8 * 1 = (8 * 1)
8 * 2 = (8 * 2)
8 * 3 = (8 * 3)
8 * 4 = (8 * 4)
8 * 5 = (8 * 5)
8 * 6 = (8 * 6)
8 * 7 = (8 * 7)
8 * 8 = (8 * 8)
8 * 9 = (8 * 9)
'''
num = 1 # 초기값
while num <= 9: # 조건식
  #print(f"8 * {num} = {8 * num}")
  #print("8 * %d = %d" % (num, 8 * num))
  print("8 * {0} = {1}".format(num, 8 * num))
  num = num + 1 # 증가식

In [ ]:
num = int(input("시작곱을 입력하세요 : "))
end = int(input("끝곱을 입력하세요 :"))
while num <= end:
  print(f"8 * {num} = { 8 * num }")
  num = num + 1

In [ ]:
num = int(input("시작곱"))
end = int(input("끝곱"))
dan = int(input("단"))
while num <= end:
  print(f"{dan} * {num} = {dan * num}")
  num = num + 1

In [ ]:
lotto = []
num = 1
while num <= 45:
  lotto.append(num)
  num = num + 1
print(lotto)
print(lotto[8])

import random
idx = random.randint(0, 44)
print(idx)
print(lotto[idx])
result = lotto.pop(idx)
print(result)
print(lotto)

In [ ]:
lotto = []
num = 1
while num <= 45:
  lotto.append(num)
  num = num + 1
print(lotto)
size = len(lotto)
print("size : " , size)
i = 1
while i <= 6:
  size = size - 1
  idx = random.randint(0, size)
  result = lotto.pop(idx)
  print(result , end = ", ")
  i = i + 1

In [ ]:
# 6단
i = 1
while i <= 9:
  print(f"6 * {i} = {6 * i}")
  i += 1 #i = i + 1
# 7단
i = 1
while i <= 9:
  print(f"7 * {i} = {7 * i}")
  i += 1
# 8단
i = 1
while i <= 9:
  print(f"8 * {i} = {8 * i}")
  i += 1

In [ ]:
dan = 6
while dan <= 8:
  i = 1
  while i <= 9:
    print(f"{dan} * {i} = {dan * i}")
    i += 1
  dan += 1

In [ ]:
dan = int(input("시작단"))
enddan = int(input("끝단"))
start = int(input("시작곱"))
endgop = int(input("끝곱"))
while dan <= enddan:
  i = start
  end = endgop
  while i <= end:
    print(f"{dan} * {i} = {dan * i}")
    i += 1
  dan += 1

In [ ]:
i = 1
count = int(input("수량입력 : "))
lotto = []
while i <= count:
  num = 1
  while num <= 45:
    lotto.append(num)
    num = num + 1
  size = len(lotto)
  j = 1
  while j <= 6:
    size = size - 1
    idx = random.randint(0, size)
    result = lotto.pop(idx)
    print(result , end = ", ")
    j = j + 1
  lotto.clear()
  print()
  i += 1

In [ ]:
제어문 : 조건문 : 단일 if, if ~ else, if ~ elif ~ else , 파이썬 조건문
         반복문 : while, for

In [1]:
i = 1
while True: # 무한루프
  print("ctrl + c를 눌러 중지 하시오 ")
  if i == 10:
     break
  i += 1

ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오
ctrl + c를 눌러 중지 하시오

In [5]:
# 크기가 정해져 있을 때
for i in [1,2,3,4]: # foreach
  print(i)

# 리스트에 있는 값의 합을 구하시오
l = [1,2,3,4,5,6,7,8,9,10]
sum1 = 0
for num in l: # [1,2,3,4,5,6,7,8,9,10]
  sum1 = sum1 + num
print(sum1)
print(sum(l))

1
2
3
4
55
55

In [9]:
# 구구단
# 8단
'''
8 * 1 = (8 * 1)
8 * 2 = (8 * 2)
8 * 3 = (8 * 3)
8 * 4 = (8 * 4)
8 * 5 = (8 * 5)
8 * 6 = (8 * 6)
8 * 7 = (8 * 7)
8 * 8 = (8 * 8)
8 * 9 = (8 * 9)
'''
for i in [1,2,3,4,5,6,7,8,9]:
  print(f"8 * {i} = {8 * i}")

for i in range(1, 10): # 1 ~ 9
  print(f"8 * {i} = {8 * i}")

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [14]:
# 리스트의 하ㅣㅂ을 구하시오
l = [1,2,3,4]
#    0 1 2 3
print(l[0])
print(len(l)) # 4
idx = 0
sum1 = 0
while idx < len(l):
  sum1 += l[idx]
  idx += 1

print(sum1)

sum1 = 0
for num in l: # [1,2,3,4] : 요소를 직접 받아옴
  sum1 += num
print(sum1)

sum1 = 0
for idx in range(0, len(l)): # index를 이용
  sum1 += l[idx]

print(sum1)

1
4
10
10
10

In [17]:
# 6단
for gop in range(1, 10):
  print(f"6 * {gop} = { 6 * gop}")
# 7단
for gop in range(1, 10):
  print(f"7 * {gop} = { 7 * gop}")

for dan in range(2, 10):
    for gop in range(1, 10):
      print(f"{dan} * {gop} = { dan * gop}")

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [20]:
startdan = int(input("시작단"))
enddan = int(input("끝단"))
startgop =int(input("시작곱"))
endgop = int(input("끝곱"))
for dan in range(startdan, enddan + 1):
    for gop in range(startgop, endgop + 1):
      print(f"{dan} * {gop} = { dan * gop}")

시작단3
끝단7
시작곱3
끝곱6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [26]:
l1 = [(1,2),(3,4),(5,6)]
for t in l1:
  print(t)

a , b  = (1,2)

for a , b in l1:
  print(a, b)

l2 = [[1,2,3],[4,5,6],[7,8,9]]
for l  in l2:
  print(l)
for a, b, c  in l2:
  print(a,b,c)

l3 = [[1,2,3],[4,5],[6,7,8,9]]
for l in l3:
  print(l)
#for a,b,c in l3:
#  print()

(1, 2)
(3, 4)
(5, 6)
1 2
3 4
5 6
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1 2 3
4 5 6
7 8 9
[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

In [30]:
# 리스트컨프리핸션 : append
l = []
for num in range(1, 46):
  l.append(num)
print(l)

l = [num for num in range(1, 46) ]
print(l)

l = []
a = [1,2,3,4]
for num in a:
  l.append(num * 3)
print(l)

l = [ num * 3 for num in a ]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[3, 6, 9, 12]
[3, 6, 9, 12]

In [ ]:
lotto = []
for num in range(1, 46):
  lotto.append(num)

In [31]:
import random
lotto = [num for num in range(1, 46) ]
size = len(lotto)
for cnt in range(1, 7): # 1  ~ 6
  size = size -1
  idx = random.randint(0, size)
  result = lotto.pop(idx)
  print(result, end = ", ")

29, 41, 43, 26, 13, 16,

In [38]:
# break, continue
# 1 ~ 100까지의 수 중 짝수의 합을 구하시오
sum1 = 0
for i in range(1, 101):
  if i % 2 == 0:
    sum1 += i
print(sum1)

sum1 = 0
for i in range(1, 101):
  if  i % 2 != 0:
    continue
  sum1 += i
print(sum1)

sum1 = 0
i = 1
while i < 101:
  if i % 2 == 0:
    sum1 += i
  i += 1
print(sum1)

sum1 = 0
i = 0
while i < 101:
  i += 1
  if i % 2 != 0:
    continue
  sum1 += i
print(sum1)

2550
2550
2550
2550