In [ ]:
# 함수란 : x값에 따라 y값의 변화를 알기 위한 것
#          y = ax + b
#          f(x) = ax + b
# x가 3일 때 y값은 얼마입니까? a = 2 , b = 5
#          f(x) = 2x + 5
#          y = f(3)  = 11

In [3]:
def f(x):
  return 2*x + 5

In [5]:
y = f(3)
print(y)

11

In [6]:
# f(x1, x2) = a1x1 + a2x2 + b
#  a1 = 3, a2 = 5 , b = 4
# f(x1,x2) = 3x1 + 5x2 + 4
def f(x1,x2): # 피호출함수 | x1,x2 :  매개변수, 가인자 , parameter
  return 3*x1 + 5*x2 + 4

In [8]:
y = f(3, 5)  # f(3, 5) : 호출함수 | 3, 5 : 실인자 , argument
print(y)
y = f(10, 5)
print(y)

38
59

In [ ]:
'''
 함수정의 법
 def 함수명(para1, para2,..., paraN):
   명령어1
   명령어2
   명령어3
   ...
   명령어n
   return 결과값

반복적으로 사용하는 명령어를 한번만 정의 해서 사용할 수 있게 하려고
'''

In [9]:
# 6단
for gop in range(1, 10):
  print(f"6 * {gop} = { 6 * gop}")
for gop in range(1, 10):
  print(f"6 * {gop} = { 6 * gop}")
for gop in range(1, 10):
  print(f"6 * {gop} = { 6 * gop}")

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [14]:
def dan_6(): # 피호출함수
  for gop in range(1, 10):
    print(f"6 * {gop} = { 6 * gop}")

In [15]:
dan_6() # 호출함수
dan_6()
dan_6()

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [16]:
def gugudan(dan): # 피호출함수
  for gop in range(1, 10):
    print(f"{dan} * {gop} = { dan * gop}")

In [19]:
gugudan(3)
gugudan(4)
gugudan(5)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [21]:
import random
lotto = [num for num in range(1, 46)]
size = len(lotto)
for i in range(6):
  size -= 1
  idx = random.randint(0, size)
  result = lotto.pop(idx)
  print(result, end=" ")

30 1 4 14 19 6

In [22]:
def lottoFn():
  lotto = [num for num in range(1, 46)]
  size = len(lotto)
  for i in range(6):
    size -= 1
    idx = random.randint(0, size)
    result = lotto.pop(idx)
    print(result, end=" ")

In [25]:
cnt = int(input(" 구매 수량을 입력하세요"))
for i in range(cnt):
  lottoFn()
  print()

 구매 수량을 입력하세요4
11 40 25 14 24 30
38 35 5 40 21 1
40 22 30 36 34 42
28 17 31 43 10 3

In [30]:
# 함수의 4가지유형
# 1. 일반적인 형식 : 매개변수 , 결과값(반환값)
def add(x, y):
  return 2*x + 4*y + 5

In [32]:
result = add(3, 5)
print(result)

31

In [33]:
# 2.매개변수는 있고 결과값(반환값)이 없음
def add(x, y):
  print(2*x + 4*y + 5)

In [34]:
add(3, 5)

31

In [35]:
# 3. 매개변수가 없고 반환값이 있는 경우
def add():
  x = 3
  y = 5
  return 2*x + 4*y + 5

In [36]:
result = add()
print(result)

31

In [38]:
# 4. 매개변수 x, 반환값 x
def add():
  x = 3
  y = 5
  print(2*x + 4*y + 5)

In [39]:
 add()

31

In [42]:
startgop = int(input("시작곱"))
endgop = int(input("끝곱"))
for gop in range(startgop, endgop + 1):
  print(f" 3 * {gop} = {3 * gop}")

시작곱2
끝곱6
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18

In [43]:
def dan3(startgop , endgop):
  for gop in range(startgop, endgop + 1):
    print(f" 3 * {gop} = {3 * gop}")

In [45]:
startgop = int(input("시작곱"))
endgop = int(input("끝곱"))
dan3(startgop, endgop)

시작곱2
끝곱5
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15

In [46]:
def dan3():
  startgop = int(input("시작곱"))
  endgop = int(input("끝곱"))
  for gop in range(startgop, endgop + 1):
    print(f" 3 * {gop} = {3 * gop}")

In [47]:
dan3()

시작곱2
끝곱5
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15

In [52]:
def calc(x1, x2, opt):
  if opt == "add":
    result = x1 + x2
  elif opt == "sub":
    result = x1 - x2
  elif opt == "mul":
    result = x1 * x2
  else :
    result = x1 / x2
  return result

In [59]:
y = calc(3 , 5, "add")
print(y)
# parameter이름을 이용해서 값을 전달
y = calc(3 , 5, opt="add")
print(y)
y = calc(x1 = 3 , x2 = 5, opt="add")
print(y)
y = calc(x1 = 3 , opt="add" , x2 = 5)
print(y)
y = calc(3 , opt="add" , x2 = 5)
print(y)
#y = calc(3 , x2 = 5 , "add" ) # 중간에만 parameter이름을 사용할 수 없다.
#print(y) # 오류 발생

8
8
8
8
8

In [ ]:
'''
sum1(1)
sum1(1,2,3,4,4,5)
sum1(1,2,4,5)

t = 1,2,3,4,5

'''

In [62]:
l = [1,2,3,4]
result = sum(l)
print(result)

10

In [66]:
sum = 10
result = sum(l)
print(result)

TypeError: 'int' object is not callable

In [67]:
del sum

In [69]:
def sum1( * argu): # * 는 매개변수를 튜르변수로 만들어주는 연산자.
  print(argu)

In [72]:
sum1(1)
sum1(1,2,3,4,5)
sum1(1,2,3,4)

(1,)
(1, 2, 3, 4, 5)
(1, 2, 3, 4)

In [75]:
'''
add_mul("add", 1,2,3,4,5,6)
add_mul("mul", 1,2,3,4)
'''
def add_mul(opt , * argu):
  result = 2
  if opt == "add":
    result = sum(argu)
  else:
    for num in argu:
      result *= num
  print(result)

In [76]:
add_mul("add", 1,2,3,4,5,6)
add_mul("mul", 1,2,3,4)

21
48

In [79]:
dic1 = {"a" : 1}
print(dic1)
dic1["b"] = 2
print(dic1)

{'a': 1}
{'a': 1, 'b': 2}

In [ ]:
dic2(a = 10, b = 20)

In [80]:
def dic2( ** args): # **는 매개변수를 딕셔너리 변수로 만들어 줌
  print(args)

In [81]:
dic2(a = 10, b = 20)

{'a': 10, 'b': 20}

In [ ]:
t = 1,2,3 # 튜플

In [82]:
# 함수의 반환값은 오직 한개이다
def add_mul(x1, x2):
    return x1 + x2 # return 은 함수종료의 의미도 있다.
    return x1 * x2 # 실행이 암됨

In [83]:
y = add_mul(3, 5)
print(y)

8

In [84]:
def add_mul(x1, x2):
    return (x1 + x2 , x1 * x2)

In [85]:
y = add_mul(3, 5)
print(y)

(8, 15)

In [86]:
def add_mul(x1, x2):
    return x1 + x2 , x1 * x2

In [87]:
y = add_mul(3, 5)
print(y)

(8, 15)

In [88]:
a, b = 10, 20
a , b = add_mul(3, 5)
print(a, b)

8 15

In [89]:
def say_myself(name, old, man):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

In [90]:
say_myself("이숭무", 35, True)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
나는 남자입니다.

In [91]:
# 매개변수 초기값 주기
def say_myself(name, old, man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

In [93]:
say_myself("이숭무", 35)
say_myself("이숭무", 35, False)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
나는 남자입니다.
나의 이름은 이숭무입니다.
나의 나이는 35입니다.
나는 여자입니다.

In [95]:
def say_myself(name, old = 30 , man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

In [97]:
say_myself("이숭무")
say_myself("오연의", 35,  False)

나의 이름은 이숭무입니다.
나의 나이는 30입니다.
나는 남자입니다.
나의 이름은 오연의입니다.
나의 나이는 35입니다.
나는 여자입니다.

In [ ]:
'''
매개변수에 초기 값을 주는 경우에는 맨 뒤에서 부터 순차적으로 주는 것이 좋다.
def say_myself(name, old = 30 , man):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

say_myself("이숭무", True)
'''

In [100]:
### lambda함수 : 함수를 마치 변수처럼 선언해서 사용
# 일반 함수
def add(a, b):
    return a + b
y = add(3, 5)
print(y)

8

In [101]:
add = lambda a, b : a + b
y = add(3, 5)
print(y)

8

In [102]:
def add(a, b):
    print( a + b)
add(3, 5)

8

In [103]:
add = lambda a, b :  print( a + b)
add(3, 5)

8

In [104]:
add = lambda :  print( 3 + 4)
add()

7

In [105]:
# 일반함수
def calc(opt , a, b):
    if opt == "add":
        return a + b
    else:
        return a - b

calc("add", 3, 4)

7

In [106]:
calc = lambda  opt , a, b : a + b if opt == "add" else(
                            a - b
                          )
calc("add", 3, 4)

7

In [ ]:
# 일반함수
def calc(opt , a, b):
    if opt == "add":
        return a + b
    elif opt == "sub":
        return a - b
    elif opt == "mul":
        return a * b
    else:
        return a / b

calc("add", 3, 4)

In [107]:
calc = lambda opt , a, b : a + b if opt == "add" else(
                           a - b if opt == "sub" else(
                           a * b if opt == "mul" else(
                           a /b
                           ))
)
calc("add", 3, 4)

7

In [ ]:
def add(a, b=4):
    return a + b

In [108]:
add = lambda a, b=4 : a + b
result = add(3)
print(result)

7

In [112]:
#전역변수 : 프로그램 전체에서 사용 가능한 변수, 함수밖에 있는 변수
#지역변수 : 함수안에 정의 되어 있는 변수 , 함수안에서만 사용가능한 변수

In [113]:
b = 100
def test2():
  c1 = 200
  print("전역 변수 : " , b)
  print("지역 변수 : ", c1)
test2()

전역 변수 :  100
지역 변수 :  200

In [114]:
b = 100
def test2():
  c1 = 200
  b = 200
  print("지역 변수 : " , b)
  print("지역 변수 : ", c1)
test2()
print(b)

지역 변수 :  200
지역 변수 :  200
100

In [115]:
b = 100
def test2():
  global b
  c1 = 200
  b = 200
  print("전역 변수 : " , b)
  print("지역 변수 : ", c1)
test2()
print(b)

전역 변수 :  200
지역 변수 :  200
200

In [117]:
# 파일입출력 : open()함수
# open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True):
#f = open("/mnt/test.txt", 'w', encoding="utf-8")
#f = open("C:/Users/soldesk/Desktop/test.txt", 'w', encoding="utf-8")

In [118]:
# 현재 경로를 확인 하자 ,
#리눅스인 경우
!pwd
# windows 인경우
import os
os.getcwd()

/content

'/content'

In [119]:
f = open("test.txt", 'w', encoding="utf-8")
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.write("4번째 줄입니다.\n")
f.write("5번째 줄입니다.\n")
f.close()

In [120]:
f = open("test.txt", 'w', encoding="utf-8")
for i in range(6, 11):
  f.write(f"{i}번째 줄입니다.\n")
f.close()

In [121]:
f = open("test.txt", 'a', encoding="utf-8")
for i in range(11, 16):
  f.write(f"{i}번째 줄입니다.\n")
f.close()

In [124]:
f = open("test.txt", 'r', encoding="utf-8")
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

#line = f.readline()
#print(line)

6번째 줄입니다.

7번째 줄입니다.

ValueError: I/O operation on closed file.

In [125]:
f = open("test.txt", 'r', encoding="utf-8")
while True:
  line = f.readline()
  if not line:
    break
  print(line)
f.close()

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

In [127]:
f = open("test.txt", 'r', encoding="utf-8")
lines = f.readlines()
f.close()
print(lines)
print("".join(lines))

['6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n']
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [128]:
f = open("test.txt", 'r', encoding="utf-8")
data = f.read()
f.close()
print(data)

6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [129]:
with open("test.txt", 'r', encoding="utf-8") as f:
  data = f.read()
  print(data)

6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [132]:
with open("test.txt", 'w', encoding="utf-8") as f:
  for i in range(1, 6):
    f.write(f"{i}번째 줄입니다.\n")

In [133]:
with open("test.txt", 'a', encoding="utf-8") as f:
  for i in range(6, 11):
    f.write(f"{i}번째 줄입니다.\n")

In [ ]:
# mode : r, w, a, rb, wb, ab